@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'DM Sans', sans-serif;
  /* background-color: #000; */
}

.bg-1{
 
    background-image:linear-gradient(rgba(66, 3, 3, 0.774), rgba(49, 3, 3, 0.747), rgba(0, 0, 0, 0.728)), url("https://tuentrada.com/concierto/rauw-alejandro/estrellas1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  
}

.bg-2{


  background-image: linear-gradient(rgba(0, 0, 0, 0.728), rgba(49, 3, 3, 0.747), rgba(66, 3, 3, 0.774)), url("https://tuentrada.com/concierto/rauw-alejandro/estrellas1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  background-image: linear-gradient(rgba(0, 0, 0, 0.728), rgba(1, 0, 0, 0.747), rgba(3, 1, 0, 0.774)), url("https://tuentrada.com/concierto/rauw-alejandro/estrellas1.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.bg-contador{
  background: radial-gradient(circle, rgba(101, 7, 209, 0.733) 0%, rgba(135, 3, 3, 0.67) 100%);
}