@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'DM Sans', sans-serif;
  position: relative;
  min-height: 100vh;
  /* padding-bottom: 200px; */
  /* background-color: #000; */
}

.bg-1{
 
    background-image:linear-gradient(rgba(0, 0, 0, 0.774), rgba(44, 1, 34, 0.747), rgba(36, 0, 0, 0.728)), url("https://tuentrada.com/concierto/rauw-alejandro/estrellas1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  
}

.bg-2{


  background-image: linear-gradient(rgba(0, 0, 0, 0.728), rgba(0, 0, 0, 0.747), rgba(2, 0, 1, 0.774)), url("https://tuentrada.com/concierto/rauw-alejandro/estrellas1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  background-image: linear-gradient(rgba(0, 0, 0, 0.728), rgba(1, 0, 0, 0.747), rgba(3, 1, 0, 0.774)), url("https://tuentrada.com/concierto/rauw-alejandro/estrellas1.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.bg-contador{
  background: radial-gradient(circle, rgba(75, 17, 1, 0.733) 0%, rgba(50, 1, 22, 0.67) 100%);
}

.h-main{
  height: calc(100vh-143px);
}